In [39]:
print("Hello, Aiana!")

Hello, Aiana!

In [40]:
print?

In [41]:
i = 11
print(i)

11

In [42]:
a = 10
b = type(a)
print(b)

<class 'int'>

In [1]:
i = 55
type(i)

int

In [2]:
f = 5.67
type(f)

float

In [3]:
b = True
type(b)

bool

In [46]:
s = "This is my first lab.work!"
type(s)
print(s)

This is my first lab.work!

In [47]:
l = [31,32,33,34]
print(l)

[31, 32, 33, 34]

In [48]:
d = {'aiana':1, 'sagynbek':2.3, 's':'my names dic'}
print(d)

{'aiana': 1, 'sagynbek': 2.3, 's': 'my names dic'}

In [49]:
print(d['sagynbek'])

2.3

In [50]:
n = None
type(n)

NoneType

In [51]:
import math
p = math.pow(11,3)
print("The 3th power of 11 = ", p)

The 3th power of 11 =  1331.0

In [52]:
n = math.ceil(3.54)
print(n)

4

In [53]:
nn = math.degrees(3.14159)
print(nn)

179.9998479605043

In [54]:
n = math.floor(3.54)
print(n)

3

In [55]:
i = 99
n = True
print("Our first value is %s. Our second value is %s." %(n,i))

Our first value is True. Our second value is 99.

In [56]:
i = 11
f = 11
if i == 1 and f > 11:
    print("The value of i is 1 and f is greater than 11.")
elif i > 11 or f > 11:
    print("i or f both greater than 11.")
else:
    print("Both i and f are less than 11 or equal to 11.")

Both i and f are less than 11 or equal to 11.

In [57]:
l = [22,33,44]
print(l)

[22, 33, 44]

In [58]:
for i in l:
    print(i)

22
33
44

In [59]:
for i in range(33):
    print("These numbers are from 0 to 99: ", i)

These numbers are from 0 to 99:  0
These numbers are from 0 to 99:  1
These numbers are from 0 to 99:  2
These numbers are from 0 to 99:  3
These numbers are from 0 to 99:  4
These numbers are from 0 to 99:  5
These numbers are from 0 to 99:  6
These numbers are from 0 to 99:  7
These numbers are from 0 to 99:  8
These numbers are from 0 to 99:  9
These numbers are from 0 to 99:  10
These numbers are from 0 to 99:  11
These numbers are from 0 to 99:  12
These numbers are from 0 to 99:  13
These numbers are from 0 to 99:  14
These numbers are from 0 to 99:  15
These numbers are from 0 to 99:  16
These numbers are from 0 to 99:  17
These numbers are from 0 to 99:  18
These numbers are from 0 to 99:  19
These numbers are from 0 to 99:  20
These numbers are from 0 to 99:  21
These numbers are from 0 to 99:  22
These numbers are from 0 to 99:  23
These numbers are from 0 to 99:  24
These numbers are from 0 to 99:  25
These numbers are from 0 to 99:  26
These numbers are from 0 to 99:  27
These numbers are from 0 to 99:  28
These numbers are from 0 to 99:  29
These numbers are from 0 to 99:  30
These numbers are from 0 to 99:  31
These numbers are from 0 to 99:  32

In [60]:
import time
for n in range(10):
    time.sleep(1)
    print('Number:', n)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9

In [61]:
count = 3
while count<10:
    print(count)
    count += 1

3
4
5
6
7
8
9

In [62]:
def add2(x):
    y = x+11
    return y
i = 4
add2(i)

15

In [63]:
square = lambda x: x*x
square(9)

81

In [64]:
x = lambda a,b: a*b
print(x(10,4))

40

<h1> Heading1 </h1>
<h2> Heading2 </h2>
<h3> Heading3 </h3>
<h4> Heading4 </h4>
<h5> Heading5 </h5>
<h6> Heading6 </h6>
<img src="jupyter.png" width=320, heigth=240>
<br>
<img src="ff.jpg" width=320, heigth=240>

\begin{equation*}
\left(sum_{k=3}^n  a_k b_k\right)^2
\end{equation*}

In [65]:
!ipconfig

Windows IP Configuration


Ethernet adapter Ethernet:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Ethernet adapter VirtualBox Host-Only Network:

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::2569:44f1:1ab7:a20a%3
   IPv4 Address. . . . . . . . . . . : 192.168.56.1
   Subnet Mask . . . . . . . . . . . : 255.255.255.0
   Default Gateway . . . . . . . . . :

Wireless LAN adapter LAN-Verbindung* 1:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter LAN-Verbindung* 2:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter WLAN:

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::a43c:ded0:3518:4167%11
   IPv4 Address. . . . . . . . . . . : 192.168.43.222
   Subnet Mask . . . . . . . . . . . : 255.255.255.0
   Default Gateway . . . . . . . . . : 192.168.43.1

In [66]:
! ping kaggle.com

Pinging kaggle.com [35.244.233.98] with 32 bytes of data:
Reply from 35.244.233.98: bytes=32 time=300ms TTL=108
Reply from 35.244.233.98: bytes=32 time=102ms TTL=108
Reply from 35.244.233.98: bytes=32 time=107ms TTL=108
Reply from 35.244.233.98: bytes=32 time=93ms TTL=108

Ping statistics for 35.244.233.98:
    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
Approximate round trip times in milli-seconds:
    Minimum = 93ms, Maximum = 300ms, Average = 150ms